<div class="container">
  	<div class="row">
  		<div class="col-lg-3 col-sm-6">

              <div class="card hovercard">
                  <div class="cardheader">

                  </div>
                  <div class="avatar">
                      <!-- <img alt="" src="https://lh3.googleusercontent.com/-7u4lQZKPLao/AAAAAAAAAAI/AAAAAAAAZVw/5Caf-jo14f4/photo.jpg?sz=328"> -->

                  <!-- add the image from browse  -->
                      <div ngf-drop ngf-select ng-model="files" class="drop-box drop-box-container"
                      ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                      accept="image/*,application/pdf"
                      ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
                  <!-- end browse -->


                  </div><br />
                  <div class="info">
                      <div class="title">
                          <a target="_blank" href="http://scripteden.com/">eangfmbs</a>
                      </div>
                      <div class="desc">Passionate designer</div>
                      <div class="desc">Curious developer</div>
                      <div class="desc">Tech geek</div>
                  </div>
                  <div class="bottom">
                      <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                          <i class="fa fa-twitter"></i>
                      </a>
                      <a class="btn btn-danger btn-sm" rel="publisher"
                         href="https://plus.google.com/+ahmshahnuralam">
                          <i class="fa fa-google-plus"></i>
                      </a>
                      <a class="btn btn-primary btn-sm" rel="publisher"
                         href="https://plus.google.com/shahnuralam">
                          <i class="fa fa-facebook"></i>
                      </a>
                      <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                          <i class="fa fa-behance"></i>
                      </a>
                  </div>
              </div>

          </div>
          <div class="col-lg-9 col-sm-6">
            <div>Hello. This is Home of {{main.username}}</div>
            <div class="panel-group" ng-repeat = "status in profile.allStatus">
                <div class="panel panel-default">
                  <div class="panel-heading"><a href="/talk/{{status._id}}">{{status.date}} total view: {{status.statusview}} total like: {{status.totallike}} total answer: {{status.totalcomment}} {{status.username}} {{status.title}}</a></div>
                  <div class="panel-body">{{status.content}}</div>
                  <div ng-repeat = "tag in status.tags">{{tag}}</div>
                </div>
            </div>
            <div class="row show-hide-message" ng-show="profile.errorMsg">
                <div class="alert alert-danger">
                    {{profile.errorMsg}}
                </div>
            </div>
          </div>

  	</div>



    <div>Select an image file: <input type="file" id="fileInput" /></div>
    <div class="cropArea">
      <img-crop image="myImage"
       result-image="myCroppedImage">
      </img-crop>
    </div>
    <div>Cropped Image:</div>
    <div><img ng-src="{{myCroppedImage}}" /></div>





</div>
