<div class="container">
    <div class="page-header">Login Form</div>
    <form ng-submit="main.doLogin(loginData)">
        <table>
            <tr>
                <td><label>Username</label></td>
                <td><input type="text" name="username" ng-model="main.loginData.username"> </td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="password" name="pwd" ng-model="main.loginData.password"> </td>
            </tr>
            <button class="btn btn-primary" type="submit" name="register">login</button>
        </table>

    </form>
    <div class="jumbotron text-center" ng-show="main.loading">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Loading...</p>
    </div>
    <div class="row show-hide-message" ng-show="main.errorMsg">
        <div class="alert alert-danger">
            {{login.errorMsg}}
        </div>
    </div>
</div>
